@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  direction: rtl;
  overflow-x: hidden;
}

:root {
  --color-primary-light: #ffd7d9;
  --color-primary-dark: #a80d12;
  --color-primary-main: #e32228;
  --color-secondary-main: #660f14;
  --color-secondary-dark: #a80d12;
  --color-secondary-light: #ffd7d9;
  --color-grey-light: #f5f5f5;
  --color-grey-dark: #424242;
  --color-grey-main: #757575;
}

@media screen and (max-width: 990px) {
  html {
    font-size: 82.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 60%;
  }
}
